<% formats = %i[csv xml json] %>
<% formats << :xlsx if defined?(Mime::XLSX) %>

<div class="but-holder with-drop">
  <div class="act-but">
    <%= link_to 'CSV', export_path(format: :csv), class: 'but-container export', title: 'Export' %>
  </div>
  <div class="drop-wrapper">
    <% formats.each do |format| %>
      <%= link_to format.to_s.upcase, export_path(format: format), title: "Export (.#{format})", download: "export.#{format}" %>
    <% end %>
  </div>
</div>
